cryptography>=42.0.8,<45.0.0
google-cloud-pubsub>=2.18.0
holidays~=0.68
pandas~=2.2.3
pandas-market-calendars>=4.0.0
pycryptodome>=3.19.0
python-dotenv>=1.0.0
pytz>=2024.1
PyYAML>=6.0.1
requests~=2.32.3
tenacity>=8.2.0
websockets>=12.0
